ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: 100%;
  li {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
    transition: opacity 0.2s ease-out;
    &:hover{
      opacity: 1;
    }
    a{
      padding: 3vh 0;
      color: white;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      &.active {
        font-weight: 700;
      }
    }
  }
}
