<div class="device-container">
  <div class="card table-container">
    <table>
      <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>Description indicator</th>
      </tr>
      <tr *ngFor="let device of devices">
        <td>
          <a [routerLink]="[device.id]">{{ device.name }}</a>
        </td>
        <td>
          <ul class="tags">
            <li *ngFor="let tag of device.tags | tags; let index = index">{{tag}}</li>
          </ul>
        </td>
        <td class="right">
          <app-indicator [description]="device.description"></app-indicator>
        </td>
      </tr>
    </table>
  </div>

  <div class="paginator-conpainer">
    <span (click)="scrollPage(-1)"><</span>
    <span (click)="setPage(item)" *ngFor="let item of getPagesArray()">{{
      item
    }}</span>
    <span (click)="scrollPage(1)">></span>
    <select name="" id="" (change)="onAmmountChange($event)">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="40">40</option>
    </select>
  </div>
</div>
