<div class="device-container">
  <div class="card table-container">
    <table>
      <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>Description indicator</th>
      </tr>
      <tr *ngFor="let device of devices">
        <td>
          <a [routerLink]="['../', device.id, 'update']">{{ device.name }}</a>
        </td>
        <td>
          <ul class="tags">
            <li *ngFor="let tag of device.tags | tags; let index = index">{{tag}}</li>
          </ul>
        </td>
        <td class="right">
          <app-indicator [description]="device.description"></app-indicator>
        </td>
      </tr>
    </table>
  </div>
  <app-paginator
    [amount]="quantity"
    [page]="page"
    [size]="size"
    (onPageChange)="setPage($event)"
    (onSizeChange)="setSize($event)"
  ></app-paginator>
</div>
