<div class="card device-container">
  <form [formGroup]="deviceForm">
    <div>
      <label for="">name</label>
      <input type="text" formControlName="name" />
    </div>

    <div>
      <label for="">tags (to add tag after writting press enter)</label>
      <tag-input formControlName="tags" [modelAsStrings]="true"></tag-input>
    </div>
    <div>
      <label for="">description</label>
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        formControlName="description"
      ></textarea>
    </div>

    <div class="button-container">
      <button class="button" (click)="cancel()">Cancel</button>
      <button class="button save" (click)="submit()">Save</button>
    </div>
  </form>
</div>
