$aside-menu: 300px;

.app-container {
  display: grid;
  grid-template-columns: $aside-menu auto;
  grid-template-rows: 100px auto;
  width: 100%;
  height: 100%;
}


.navigation{
  background-color: #10172a;
  color: white;
  width: $aside-menu;
}
